name: Build Onish-OS v0.5
on: [push]

jobs:
  build_os:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # This creates two parallel builds at once!
        target: [hardware, qemu]
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config build-essential ninja-build automake autoconf \
          libtool wget curl git gcc libssl-dev bc slib squashfs-tools jq python3-distutils \
          scons parallel tree device-tree-compiler python3-pip python3-setuptools \
          fakeroot genext2fs mtools rsync dosfstools expect
          pip3 install jinja2

      - name: Build Full OS (${{ matrix.target }})
        run: |
          git clone https://github.com/milkv-duo/duo-buildroot-sdk.git --depth=1
          cd duo-buildroot-sdk
          git clone https://github.com/milkv-duo/host-tools.git --depth=1
          
          CONF="buildroot-2021.05/configs/milkv-duo_musl_riscv64_defconfig"
          
          # 1. Common Settings
          echo "BR2_ROOTFS_OVERLAY=\"$(pwd)/../overlay\"" >> $CONF
          
          # 2. Target Specific Settings
          if [ "${{ matrix.target }}" == "qemu" ]; then
            echo 'BR2_TARGET_UBOOT=y' >> $CONF
            echo 'BR2_TARGET_UBOOT_BOARD_DEFCONFIG="qemu-riscv64_smode"' >> $CONF
          fi
          
          ./build.sh milkv-duo-sd

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          # This names your files "onish-os-v5-hardware-build-12"
          name: onish-os-v5-${{ matrix.target }}-build-${{ github.run_number }}
          path: |
            **/out/*.img
            **/vmlinux
            **/Image
            
          
